FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
FIREBASE_STORAGE_BUCKET=
FIREBASE_CONTACT_COLLECTION=contact_submissions
ADMIN_PASSWORD=
ADMIN_SESSION_SECRET=
